/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  color: $text-color;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
